[project]
	description = The official Last.fm iPhone application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sergey V (prattpratt)
[access "refs/for/refs/*"]
	read = group user/Sergey V (prattpratt)
	push = group user/Sergey V (prattpratt)
	label-Code-Review = -2..+2 group user/Sergey V (prattpratt)
	label-Verified = -1..+1 group user/Sergey V (prattpratt)
	rebase = group user/Sergey V (prattpratt)
	removeReviewer = group user/Sergey V (prattpratt)
	submit = group user/Sergey V (prattpratt)
[access "refs/heads/*"]
	read = group user/Sergey V (prattpratt)
	create = group user/Sergey V (prattpratt)
	push = +force group user/Sergey V (prattpratt)
	pushMerge = group user/Sergey V (prattpratt)
[access "refs/tags/*"]
	push = +force group user/Sergey V (prattpratt)
	pushTag = group user/Sergey V (prattpratt)
	pushSignedTag = group user/Sergey V (prattpratt)
